<div id="<%= dom_id ppg_measure %>">
  <p>
    <strong>Measurement:</strong>
    <%= ppg_measure.measurement %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= ppg_measure.activity_id %>
  </p>

</div>
