<h1>Editing ppg measure</h1>

<%= render "form", ppg_measure: @ppg_measure %>

<br>

<div>
  <%= link_to "Show this ppg measure", @ppg_measure %> |
  <%= link_to "Back to ppg measures", ppg_measures_path %>
</div>
