<div id="<%= dom_id tag %>">
  <p>
    <strong>Tag:</strong>
    <%= tag.tag %>
  </p>

  <p>
    <strong>Datetime:</strong>
    <%= tag.datetime %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= tag.activity_id %>
  </p>

</div>
