<div id="<%= dom_id stress %>">
  <p>
    <strong>Datetime:</strong>
    <%= stress.datetime %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= stress.level %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= stress.activity_id %>
  </p>

</div>
