<p style="color: green"><%= notice %></p>

<h1>Stresses</h1>

<div id="stresses">
  <% @stresses.each do |stress| %>
    <%= render stress %>
    <p>
      <%= link_to "Show this stress", stress %>
    </p>
  <% end %>
</div>

<%= link_to "New stress", new_stress_path %>
